.chapter(data-title='Setting Up The Application')
    .step(
        data-title='What Are We Building?',
        data-file='resources/views/home/index.blade.php')
    :markdown
      ## What Are We Building?

      You probably already have landing pages or product detail views in your
      web application, which you're using to generate leads for your business.
      In this tutorial, we'll use Twilio SMS to send a message when a new lead
      is found.

      ![Lead Alerts Flow](//s3.amazonaws.com/howtodocs/lead-alerts-flow.png)

      In this example we'll be implementing instant lead alerts for real estate
      (much like [our awesome friends at
      Trulia](//www.twilio.com/customers/stories/trulia)). We'll create a
      landing page for a new house on the market, and notify a real estate agent
      the moment a potential customer requests information.

      Let's see how it works! Click the next arrow above to continue the tutorial.
